body{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;
}

img{
    width: 70px;
    float: left;
    margin-top: 0px;
    margin-left: 10px;
}

header{
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(189, 221, 241);
}

.container{
    display: flex;
    flex-direction: column;
}

.item1, .item2, .item3{
    align-self: center;
}

table, th, tr, td{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}

th{
    text-transform: uppercase;
    font-size: 20px;
    background-color: rgb(189, 221, 241);
}

.bold{
    font-weight: bold;
}

h2{
    text-align: center;
}

